
    <div class="c-instagram anim anim--up">
            
        <div class="main-carousel" id="insta">
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/01.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/02.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/03.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/04.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/05.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/01.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/02.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/03.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/04.jpg") %> alt="" width="274" height="274">
            </div>
            
            <div class="carousel-cell">
                <img src=<%= require("./img/instagram/05.jpg") %> alt="" width="274" height="274">
            </div>
        </div>
            
    </div>
    